# compiled commands
/key-validator
/validation/cmd/key-validator/key-validator
/auction-validator
/validation/cmd/auction-validator/auction-validator

# enclave binary built by the README and docker.yml
/bin/
